<h3>予約一覧</h3>
<table>
 <thead>
    <tr>
      <th class=col-5>開始日</th>
      <th class=col-5>終了日</th>
      <th class=col-5>人数</th>
    </tr>
 </thead>




  <tbody>
    <% @reservations.each do |reservation|%>
      <tr>
        <td class=col-5><%= reservation.check_in %></td>
        <td class=col-5><%= reservation.check_out %></td>
        <td class=col-5><%= reservation.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>


