<h3>予約一覧</h3>
<table>
 <thead>
    <tr>
      <th class=col-4>施設名</th>
      <th class=col-4>開始日</th>
      <th class=col-4>終了日</th>
      <th class=col-4>人数</th>
    </tr>
 </thead>

  <tbody>
    <% @reservations.each do |reservation|%>
      <tr>
        <td class=col-4><%= link_to reservation.roomname,room_path(@room) %></td>
        <td class=col-4><%= reservation.check_in %></td>
        <td class=col-4><%= reservation.check_out %></td>
        <td class=col-4><%= reservation.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>


